body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #e4d3d3c7;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #f8f7f7;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%; 
    z-index: 3;
    display: flex;
    
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 1%;
    text-decoration: none;
    padding: 0px 15px;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    width: 103%;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  @media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .imgbur{
      max-width:8%;
    }
    
  }
.franja {
  background-image: url('IMG/stripes4.png'); 
  height: 50px; 
  background-repeat: repeat-x; 
}
.IMGA {
  background-image: url('IMG/sectionUno.png'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el div */
  background-position: center; /* Centra la imagen en el div */
  width: auto; /* Ajusta el ancho del div según sea necesario */
  height: 385px; /* Ajusta la altura del div según sea necesario */
}

  .BOTON {
    color: #fff;
    background-color: #32373c;
    border: none;
    border-radius: 28px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
   
}
.boxB {
  text-align: center; /* Opcional: centra el contenido del contenedor horizontalmente */
  background-color: ;
}

.botones {
  margin: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 37%;
  margin-left: 37%;
  
}
.BOTON {
  display: block;
  margin: 5px 0; /* Agrega espacio de 5px entre los botones verticalmente */
  text-decoration: none; /* Opcional: elimina el subrayado de los enlaces */
  padding: 10px; /* Opcional: añade relleno para hacer clic en los botones más fácilmente */
}
h1 {
  font-size: 50px;
  margin-top: 23px;
  margin-bottom: 11.5px;
  font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.linea {
  border-bottom: 1px solid #000;
  padding-bottom: 10px; 
  margin-bottom: 20px;
}
#ftText {
 
line-height: 1.5; /* Altura de línea para centrar verticalmente */
color: #f4f4f4;
}
footer{
  height: 50px; /* Altura del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  background-color: #000;
}



